.textarea {
  background-color: rgb(35, 34, 35);
  cursor: no-drop;
  border: 2px solid rgb(35, 34, 35);
  border-radius: 4px;
  -moz-appearance: none;
  outline: 0px none transparent;
  content: "";
  width: 100%;
  height: 400px;
  color: gray;
  overflow-Y: scroll;
  
}
::-webkit-scrollbar {
  display: none;
}
textarea:active {
  cursor: no-drop;
}
.Supportbutton{
  font-size: 20px;
}

@media(max-width: 770px){
  .Supportbutton{
    font-size: 13px;
  }
  .my-custom-scrollbar{
    width: 100%;
    height: 400px;
    overflow-x: scroll 
  }
}