.images{
  /* background-image: url("../../images/bg.jpg"); 

  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;  */
}
.translate {
  font-family: Aquino, cursive;
  color: hsla(0, 0%, 100%, 0.96);
}
.text1 {
  font-style: italic;
  font-size: 20px;
  font-weight: 500px;
}
.text2 {
  font-style: italic;
  font-size: 20px;
  font-weight: 500px;
  padding-top: 30px;
}
.text3 {
  font-style: italic;
  font-size: 20px;
  font-weight: 500px;
  padding-top: 30px;
}
.mainrow {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}
#mainh1 {
  font-size: 80px;
  /* font-weight: 500px; */
  font-weight: bold;
}
#mainpp {
  font-style: italic;
  font-size: 15px;
}
@media (max-width: 765px) {
  .mainrow {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }
}
