#topNavigation {
  z-index: 1;
  position: relative;
}
.navbarmain {
  background-color: #428025;
  color: white;
  /* background-image: url("../../images/bg.jpg"); */
}
.navbarlogo {
  font-size: 23px;
}
#navbartext {
  font-size: 16px;
  text-decoration: none;
font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
